p {
    width: 800px;
    /*    width: 100%;height: auto;*/

}

img {
    width: 200px;
    height: auto;
    border-radius: 200px;


}


li {
    color: brown
}

.container {
   
    background-image: url(hanklin_files/pyoa.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans SC', sans-serif;

}
